body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

footer {
  position: bottom;
  text-align: center;
  font-color: black;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #b5d2db;
}